.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: calc(100vh - 50px); /* Adjusted height to account for footer */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
}

button {
  font-family: 'Press Start 2P', sans-serif; /* Retro Atari style font */
  font-size: 20px;
}

.space-invader-icon {
  height: 100px;
  display: block;
  margin: 0 auto 20px; /* Center the image and add some margin below */
}
